body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #ffffff, #cfcdcd);
    color: #333;
}

body h1 {
    color: #6441a5;
}

a {
    color: black;
}

.navbar {
    background-color: #333;
    padding: 15px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-logo {
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 7px;
    font-style: italic;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.navbar-menu a:hover {
    color: #6441a5; 
}

.carrossel {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    height: 550px;

   
}

.carrossel-slides {
    display: flex;
    transition: transform 0.5s ease-in;
}

.carrossel-item {
    min-width: 100%;
    display: none;
    padding: 0;
    color: #333;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: hidden;

}

.carrossel-item.ativo {
    display: block;
}

.carrossel img {
    width: 200%;
    height: 41%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.carrossel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    
}

.carrossel-control:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.carrossel-control.prev {
    left: 10px;
}

.carrossel-control.next {
    right: 10px;
}

.oque_fazemos {
    line-height: 1.5;
    margin-bottom: 2em;
    text-align: justify;
    font-size: 20px;
    border-bottom: 1px solid #c4bdbd;
    padding-left: 30px;

}

.topico_beneficios {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 2;
    border-bottom: 1px solid #c4bdbd;
    padding-left: 30px;
    
}

.conheca_nos {
    font-size: 20px;
    line-height: 2;
    padding-left: 30px;
}

.conheca_nos a {
    background-color: #6441a5;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
}

.rodape {
    background-color: #333;
    color: #fff;
    padding: 50px 0 20px 0;
    margin-top: 100px;
}

.conteudo_rodape {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.secao_rodape {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.secao_rodape h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #c4bdbd;
    padding-bottom: 10px;
}

.secao_rodape p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.social_links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.social_links a:hover {
    color: #6441a5;
}

.secao_rodape {
    margin-bottom: 10px;
}

.rodape_copy {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.conteudo-rodape {
        flex-direction: column;
    }
