body {
    background-color: #6441a5;
    font-family: Arial, Helvetica, sans-serif;

}

a {color: black;}

.navbar {
    background-color: #333;
    padding: 15px 20px;
    margin-bottom: -16px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-logo {
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 7px;
    font-style: italic;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.4s ease; 
}

.navbar-menu a:hover {
    color: #6441a5; 
}

.intro_portifolio {
    margin-top: 100px;
    display: flex;
    text-align: center;
    padding: 0 40px;
}

.intro_portifolio strong {
    margin-top: 500px;
}


.texto_intro {
    color: #fff;
    font-size:  2.0em;
    line-height: 1.9em;
    
}


.portifolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 100px auto;
    max-width: 1500px;
    
    
    
    
}
.portifolio {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.portifolio img {
    width: 80%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}


.portifolio h2 {
    margin: 0;
    padding: 30px
}
.portifolio p {
    font-size: 1em;
    line-height: 1.5em;
    padding: 30px;
    
}

.rodape {
    background-color: #333;
    color: white;
    padding: 50px 0 20px 0;
    margin-top: 100px;
    border-top: 1px solid #555;
}

.conteudo_rodape {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.secao_rodape {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.secao_rodape h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #c4bdbd;
    padding-bottom: 10px;
}

.secao_rodape p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.social_links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.social_links a:hover {
    color: #6441a5;
}

.secao_rodape {
    margin-bottom: 10px;
}

.rodape_copy {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.conteudo-rodape {
        flex-direction: column;
    }
